*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

button {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    width: 90%;
    height: 10vh;
    margin: auto;
    align-items: center;
}

.logo-container,
.nav-links, 
.github, 
.linkedin 
.insta {
    display: flex;
}

.logo-container{
    flex: 1;
}

.logo {
    margin: 5px;
}

nav{
    flex: 2;
}

.nav-links{
    justify-content: space-around;
    list-style: none;

}

.nav-link{
    color: black;
    font-size: 18px;
    text-decoration: none;
}

.github {
    flex: 1;
    justify-content: flex-end;
}

.linkedin {
    flex: 1;
    justify-content: flex-start;
}

.insta {
    flex: 1;
    justify-content: flex-end;
}

.presentation {
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}

.cta {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 500px;
}

.cta-select{
    border: 2px solid black;
    background: transparent;
    color: black;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
}

.cta-add {
    border: 2px solid black;
    background: transparent;
    color: black;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    margin: 30px 0px 0px 150px;
}

.cover {
    flex: 1;
    display: flex;
    justify-content: center;
    height: 60vh;
}

.cover img {
    height: 100%;
    filter: drop-shadow(0px 5px 3px black);
    animation: drop 1.5s ease;
}

.buttons {
    display: flex;
    width: 90%;
    height: auto;
    align-items: center;
}

@keyframes drop {
    0%{
        opacity: 0;
        transform: translateY(-80px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@media screen and (max-width: 1024px) {
    .presentation {
        flex-direction: column;
    }
    .cta { 
        padding: 10px 0px 0px 0px;
    }
    .cover img {
        height: 80%;
    }
}

