*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.title {
    display: flex;
    justify-content: center;
    padding-bottom: 10;
    background-color: white;
    color: #3d3635;
}

.quote {
  display: flex;
  justify-content: center;
  background-color: #3d3635;
  color: white;
  font-size: 15px;
  font-style: italic;
  padding-bottom: 0;
}

/* Style the top navigation bar - mobile version*/

.topnav {
    background-color: #3d3635;
    text-align: center;
    font-size: 18px;
}
  
.main-nav {
  list-style-type: none;
  color: #f2f2f2;
  display: none;
}

.nav-links {
  text-decoration: none;
  color: #f2f2f2;
}

.main-nav li {
  text-align: center;
}

.navbar-toggle {
  color: white;
  cursor: pointer;
  position: absolute;
  top: 60px;
  right: 10px;
}

.active {
  display: block;
}

/* Desktop version */

@media screen and (min-width: 768px) {

  .topnav {
    display: inline-flex;
    background-color: #3d3635;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
    width: 100%;
    height: 50px;
  }

  .main-nav {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    width: 120px;
    margin: 10px;
    padding: 10px;
  }

  .topnav ul li a {
    text-decoration: none;
    color: #f2f2f2;
    text-align: center;
  }

  .navbar-toggle {
    display: none;
  }

  .onpage, .nav-links:hover {
    background: #665a59;
    border-radius: 3px;
  }

}

/* Style the index page */

.main-photo {
    width: 100%;
    height: auto;
}

/* Style the portfolio page */
.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
-ms-flex: 25%; /* IE10 */
flex: 25%;
max-width: 25%;
padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/*Style the artist page*/

.artist-content{
  margin: auto;
  width: 70%;
  color: #3d3635;
}

.artist-content h1{
  text-align: center;
}

.artist-content p{
  text-align: center;
}

/*Style the Series 1 page*/

.diaspora-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
}

.diaspora-column {
  -ms-flex: 25%;
  flex: 25%;
  max-width: 50%;
  padding: 0 4px;
}

.diaspora-column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .diaspora-column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .diaspora-column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/* Style the main content of the diaspora page */
.diaspora-content {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.diaspora-photo {
  display: block;
  width: 100%;
  height: auto;
}

.diaspora-content h1{
  text-align: center;
}

.diaspora-content p{
  text-align: center;
  width: 90%;
  margin: auto;
}

.diaspora-content a{
  color: #3d3635;
  text-decoration: none;
}

.diaspora-titles {
  color: white;
  background: #3d3d3d;
  display: block;
  margin: auto;
  width: 90%;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.video {
  display: block;
  margin: auto;
}
/*Style the Shop page */
